<a href="https://colab.research.google.com/github/YonggunJung/colab/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
from os.path import join

pj_path = '/content/drive/MyDrive/Colab Notebooks/github/colab'
# 여기 위치로 열기 (파일 생성 장소)
%cd '{pj_path}'

/content/drive/MyDrive/Colab Notebooks/github/colab

In [32]:
Xtrain = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/github/colab/data/titanic_train.csv')
Xtest = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/github/colab/data/titanic_test.csv')
ytest = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/github/colab/data/titanic_gender_submission.csv')
Xtrain
# Survived : 0 = 아니오, 1 = 예
# Pclass : 1 = 1st, 2 = 2nd, 3 = 3rd
# Embarked : C = Cherbourg, Q = Queenstown, S = Southampton

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [29]:
Xtest

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [88]:
ytest.drop('PassengerId', axis = 1, inplace = True)
ytest

     Survived
0           0
1           1
2           0
3           0
4           1
..        ...
413         0
414         1
415         0
416         0
417         0

[418 rows x 1 columns]

In [34]:
Xtrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [35]:
Xtrain.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [72]:
Xtest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [74]:
Xtest.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [36]:
# 나이 결측값은 평균값으로 설정
avg = Xtrain['Age'].mean()
Xtrain['Age'].fillna(avg, inplace = True)
Xtrain.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [75]:
# 나이 결측값은 평균값으로 설정
avg = Xtest['Age'].mean()
Xtest['Age'].fillna(avg, inplace = True)
Xtest.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [37]:
Xtrain['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [38]:
# Emvarked 결측값은 최빈값으로 설정
Xtrain['Embarked'].fillna(value = 'S', inplace = True)
Xtrain.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [41]:
# Cabin 결측값은 N으로 설정
Xtrain['Cabin'].fillna(value = 'N', inplace = True)
Xtrain.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [76]:
# Cabin 결측값은 N으로 설정
Xtest['Cabin'].fillna(value = 'N', inplace = True)
Xtest.isna().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           1
Cabin          0
Embarked       0
dtype: int64

In [79]:
Xtest['Fare'].value_counts()

7.7500     21
26.0000    19
8.0500     17
13.0000    17
10.5000    11
           ..
8.7125      1
7.8208      1
8.5167      1
78.8500     1
22.3583     1
Name: Fare, Length: 170, dtype: int64

In [77]:
# Fare 결측값 평균으로 설정

Xtest['Fare'].fillna(Xtest['Fare'].mean(), inplace = True)
Xtest.isna().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [43]:

# 나머지 불필요하다 판단 되는 컬럼 삭제
Xtrain.drop(['PassengerId', 'Name', 'Ticket'], axis = 1, inplace = True)
Xtrain

     Survived  Pclass     Sex        Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.000000      1      0   7.2500     N        S
1           1       1  female  38.000000      1      0  71.2833   C85        C
2           1       3  female  26.000000      0      0   7.9250     N        S
3           1       1  female  35.000000      1      0  53.1000  C123        S
4           0       3    male  35.000000      0      0   8.0500     N        S
..        ...     ...     ...        ...    ...    ...      ...   ...      ...
886         0       2    male  27.000000      0      0  13.0000     N        S
887         1       1  female  19.000000      0      0  30.0000   B42        S
888         0       3  female  29.699118      1      2  23.4500     N        S
889         1       1    male  26.000000      0      0  30.0000  C148        C
890         0       3    male  32.000000      0      0   7.7500     N        Q

[891 rows x 9 columns]

In [80]:
Xtest.drop(['PassengerId', 'Name', 'Ticket'], axis = 1, inplace = True)
Xtest

     Pclass     Sex       Age  SibSp  Parch      Fare Cabin Embarked
0         3    male  34.50000      0      0    7.8292     N        Q
1         3  female  47.00000      1      0    7.0000     N        S
2         2    male  62.00000      0      0    9.6875     N        Q
3         3    male  27.00000      0      0    8.6625     N        S
4         3  female  22.00000      1      1   12.2875     N        S
..      ...     ...       ...    ...    ...       ...   ...      ...
413       3    male  30.27259      0      0    8.0500     N        S
414       1  female  39.00000      0      0  108.9000  C105        C
415       3    male  38.50000      0      0    7.2500     N        S
416       3    male  30.27259      0      0    8.0500     N        S
417       3    male  30.27259      1      1   22.3583     N        C

[418 rows x 8 columns]

In [46]:
Xtrain.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [47]:
# 문자형 컬럼 확인
ccol = ['Sex', 'Cabin', 'Embarked']

In [51]:
# 레이블 인코딩
# 문자형 컬럼을 숫자로 인코딩
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

Xtrain['Sex'] = encoder.fit_transform(Xtrain['Sex'])
Xtrain['Cabin'] = encoder.fit_transform(Xtrain['Cabin'])
Xtrain['Embarked'] = encoder.fit_transform(Xtrain['Embarked'])
Xtrain

     Survived  Pclass  Sex        Age  SibSp  Parch     Fare  Cabin  Embarked
0           0       3    1  22.000000      1      0   7.2500    146         2
1           1       1    0  38.000000      1      0  71.2833     81         0
2           1       3    0  26.000000      0      0   7.9250    146         2
3           1       1    0  35.000000      1      0  53.1000     55         2
4           0       3    1  35.000000      0      0   8.0500    146         2
..        ...     ...  ...        ...    ...    ...      ...    ...       ...
886         0       2    1  27.000000      0      0  13.0000    146         2
887         1       1    0  19.000000      0      0  30.0000     30         2
888         0       3    0  29.699118      1      2  23.4500    146         2
889         1       1    1  26.000000      0      0  30.0000     60         0
890         0       3    1  32.000000      0      0   7.7500    146         1

[891 rows x 9 columns]

In [81]:
# 레이블 인코딩
# 문자형 컬럼을 숫자로 인코딩
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

Xtest['Sex'] = encoder.fit_transform(Xtest['Sex'])
Xtest['Cabin'] = encoder.fit_transform(Xtest['Cabin'])
Xtest['Embarked'] = encoder.fit_transform(Xtest['Embarked'])
Xtest

     Pclass  Sex       Age  SibSp  Parch      Fare  Cabin  Embarked
0         3    1  34.50000      0      0    7.8292     76         1
1         3    0  47.00000      1      0    7.0000     76         2
2         2    1  62.00000      0      0    9.6875     76         1
3         3    1  27.00000      0      0    8.6625     76         2
4         3    0  22.00000      1      1   12.2875     76         2
..      ...  ...       ...    ...    ...       ...    ...       ...
413       3    1  30.27259      0      0    8.0500     76         2
414       1    0  39.00000      0      0  108.9000     22         0
415       3    1  38.50000      0      0    7.2500     76         2
416       3    1  30.27259      0      0    8.0500     76         2
417       3    1  30.27259      1      1   22.3583     76         0

[418 rows x 8 columns]

In [52]:
ytrain = Xtrain.pop('Survived')
ytrain

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [60]:
# 학습 데이터와 테스트 데이터 분리
from sklearn.model_selection import train_test_split

Xtr, Xval, ytr, yval = train_test_split(Xtrain, ytrain, test_size=0.2, random_state = 202309)

In [61]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [70]:
knnmodel = KNeighborsClassifier()
lrmodel = LogisticRegression()
dtmodel = DecisionTreeClassifier()
rfmodel = RandomForestClassifier()

# 모델별 학습 예측 평가
knnmodel.fit(Xtr, ytr)
print('KNN============')
print('Train Score : ', knnmodel.score(Xtr, ytr))
print('Test Score : ', knnmodel.score(Xval, yval))
print('정확도 : ', accuracy_score(yval, knnmodel.predict(Xval)))

lrmodel.fit(Xtr, ytr)
print('LogisticRegression============')
print('Train Score : ', lrmodel.score(Xtr, ytr))
print('Test Score : ', lrmodel.score(Xval, yval))
print('정확도 : ', accuracy_score(yval, lrmodel.predict(Xval)))

dtmodel.fit(Xtr, ytr)
print('DecisionTree============')
print('Train Score : ', dtmodel.score(Xtr, ytr))
print('Test Score : ', dtmodel.score(Xval, yval))
print('정확도 : ', accuracy_score(yval, dtmodel.predict(Xval)))

rfmodel.fit(Xtr, ytr)
print('RandomForest============')
print('Train Score : ', rfmodel.score(Xtr, ytr))
print('Test Score : ', rfmodel.score(Xval, yval))
print('정확도 : ', accuracy_score(yval, rfmodel.predict(Xval)))

KNN============
Train Score :  0.7991573033707865
Test Score :  0.7150837988826816
정확도 :  0.7150837988826816

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression============
Train Score :  0.8033707865168539
Test Score :  0.7821229050279329
정확도 :  0.7821229050279329
DecisionTree============
Train Score :  0.9887640449438202
Test Score :  0.7374301675977654
정확도 :  0.7374301675977654
RandomForest============
Train Score :  0.9887640449438202
Test Score :  0.7932960893854749
정확도 :  0.7932960893854749

In [84]:
# 학습하지 않은 검증데이터로 예측
pred = rfmodel.predict(Xtest)
pred

array([0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1])

In [89]:
# 정확도 검사
accuracy_score(ytest, pred)

0.7392344497607656